 1 ) Consider i = 2, Write a program to convert i to float

In [ ]:
i=int(input("Enter any number:"))
conv=float(i)
print (conv)

Enter any number:2
2.0

 2 )Consider x="Hello" and y="World" , then write a program to concatinate the strings to a single string and print the result.

In [ ]:
a = input("Enter first word:")
b = input("Enter second word:")
print (a+b)

Enter first word:Hello
Enter second word:World
HelloWorld

 3 ) Consider pi = 3.14 . print the value of pi and its type.

In [ ]:
import math
 
print(pi,type(pi),sep="\n")

3.14
<class 'float'>