1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [ ]:
dict = {'name': 'Alex Ryder', 'age': 28, 'town': 'calicut'}
print(dict)

dict['age']=32
print("\n",dict)

{'name': 'Alex Ryder', 'age': 28, 'town': 'calicut'}

 {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [ ]:
dict={1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

for i in range(1,4):
  print("Removed key,value")
  print(dict.popitem())
    
print("\n", "Remaining Dictionary items")
print(dict,end="\n")

dict.clear()
print("\n","Cleared Dictionary")
print(dict)

Removed key,value
(5, 15)
Removed key,value
(4, 16)
Removed key,value
(3, 9)

 Remaining Dictionary items
{1: 1, 2: 4}

 Cleared Dictionary
{}

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [ ]:
set = {'hello',1,(0,1,2)}
print(set)
set.add(6)
print(set)

{(0, 1, 2), 1, 'hello'}
{(0, 1, 2), 1, 'hello', 6}