1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [1]:
for i in range(1000,2000):
  if(i%7==0 and i%11==0):
    print(i)

1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [14]:
n=int(input("Enter the number of rows:"))
k = 2*n - 2

for i in range(0, n):
	
	for j in range(0, k):
		print(end=" ")
	
	k = k - 2
	
	for j in range(0, i+1):
		
		print("# ", end="")
	
	print("\r")

Enter the number of rows:3
    *
  * *
* * *

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [20]:
print("Original List")
list=['apple','orange','apple','banana']
print(list)
for x in range (0,4):
    if (list[x]=='apple'):
        list[x]='grapes'
print("Replaced List")
print(list)

['apple', 'orange', 'apple', 'banana']
Replaced List
['grapes', 'orange', 'grapes', 'banana']